doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title SkyScholars | Join Code
    link(rel="stylesheet", href="/css/navbar-footer.css")
    link(rel="stylesheet", href="/css/joincode.css")
    script(defer src="/js/joincode.js")

  body
    include _header.pug

    main.hero
      .hero-content
        .hero-logo
          .square S
          h1 SkyScholars
        form.join-form(action="/join" method="POST")
          input(type="text", placeholder="Enter a join code", id="joinCode", name="joinCode", required)
          button(type="submit") Join
        p#errorMsg

    include _footer.pug
